.world-clock {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.world-clock_city {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  order: -1;
}

.world-clock_time {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  order: 1;
}

.world-clock_remove-btn {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 400;
  border: 1px solid black;
  background-color: transparent;
  order: 0;
  cursor: pointer;
}

.world-clock_remove-btn:hover {
  border: 1px solid black;
}