.form {
  display: flex;
  column-gap: 20px;
  margin-bottom: 30px;
}

.form_input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form_label {
  margin-left: 20px;
  margin-bottom: 10px;
}

.form_input,
.form_btn {
  height: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  box-sizing: border-box;
}

.form_btn {
  align-self: flex-end;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.form_btn:hover {
  border: 1px solid black;
}

.error {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: 14px;
  font-weight: 400;
}